
<div class="container pt-10 pb-10">

<ul class="nav bg-white pt-10 pb-10 mx-auto>
    <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Keyboards</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Switches</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Keycaps
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">For Sale</a>
            <a class="dropdown-item" href="#">Group Buys</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Interest Checks</a>
        </div>
     </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Accessories</a>
    </li>
</ul>
</div>